.titlePage {
  margin-bottom: 1rem;
  font-size: 40px;
  color: #6464cb
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

